{% extends 'layout.html.twig' %}

{% block body %}
    {% if success %}
        <div class="alert alert-success">L'utilisateur a été ajouté</div>
    {% endif %}

    {% if message %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endif %}
    <div class="card">
        <div class="card-header">S'enregister</div>
        <div class="card-body">
            <form id="myform" method="post">
                <div class='form-group'>
                    <label>Utilisateur</label>
                    <input type="text" class="form-control" name="username" required>
                </div>
                <div class='form-group'>
                    <label>Mot de passe</label>
                    <input id="password" type="password" class="form-control" name="password" required>
                </div>
                <div class='form-group'>
                    <label>Confirmer mot de passe</label>
                    <input id="confirm_password" type="password" class="form-control" required>
                </div>
                <button class="btn btn-primary">Enregistrer</button>
                <a href="index.php?p=user.login" class="btn btn-primary">Annuler</a>
            </form>
        </div>
    </div>
    <script>
        $("#myform").validate({
            rules: {
                password: "required",
                confirm_password: {
                    equalTo: "#password"
                }
            }
        });
    </script>
{% endblock %}