{% extends 'layout.html.twig' %}

{% block body %}

    {% if failed %}
    <div class="alert alert-danger">Identifiant ou mot de passe incorrect!</div>';
    {% endif %}

    <div class="card">
        <div class="card-header">Authentification</div>
        <div class="card-body">
            <form id="myform" method="post">
                <div class='form-group'>
                    <label>Utilisateur</label>
                    <input type="text" class="form-control" name="username" required>
                </div>
                <div class='form-group'>
                    <label>Mot de passe</label>
                    <input type="password" class="form-control" name="password" required>
                </div>
                <button class="btn btn-primary">Connecter</button>
                <a href="index.php?p=user.add" class="btn btn-primary">Nouvel utilisateur</a>
            </form>
        </div>
    </div>

{% endblock %}