{% extends 'layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="card card-wrapper">
            <div class="card-header">
                Liste des contacts
                <a href="index.php?p=contact.create" class="btn btn-primary btn-sm btn-add-contact">Créer</a>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Email</th>
                        <th>Editer</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for contact in contacts %}
                    <tr>
                        <td class="col-sm">{{ contact.nom }}</td>
                        <td class="col-sm">{{ contact.prenom }}</td>
                        <td class="col-sm">{{ contact.email }}</td>
                        <td class="col-sm"><a href="index.php?p=contact.edit&id={{ contact.id }}" class="btn btn-primary btn-sm">Editer</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}